.container {
  width: 600px;
  height: 150px;
  border: 3px solid rgba(11, 11, 11, 0.667);
  margin: 30px auto;
  padding: 5px;
  display: flex;
  box-sizing: border-box;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly; */
  align-items: center;
}

.container div {
  background-color: rgb(101, 183, 255);
  color: #fff;
  flex-grow: 1;
  margin: 5px;
}

.container div.dua {
  flex-grow: 2;
}

.container div.tiga {
  flex-grow: 1.7;
  align-self: baseline;
}

/* .satu {
  order: 4;
}
.dua {
  order: 1;
}
.tiga {
  order: 4;
}
.empat {
  order: 3;
} */
